<form class="form-signin" method="post" action="create_post.php">
    <h1 class="h3 mb-3 font-weight-normal text-white">Create Post</h1>
    <label for="inputLogin" class="sr-only">Login</label>
    <input name="title" type="text" id="inputLogin" class="form-control" placeholder="Title" required autofocus>
    <textarea name="desk" cols="20" rows="10" class="form-control" placeholder="Text"></textarea>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Create Post</button>
</form>
