<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>{{ title }}</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/4.5/examples/blog/">

    <link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href='css/{{ css }}' rel="stylesheet">
</head>
<body>

{% include page %}

</body>>
</html>