<div class="container bg-dark">
    <header class="blog-header py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-4 pt-1">
                {% if session.login is not empty %}
                    <a class="btn btn-sm btn-outline-primary" href="create_post.php"> Create post </a>
                {% endif %}
            </div>
            <div class="col-4 text-center">
                <a class="blog-header-logo text-white" href="#">Blog</a>
            </div>
            <div class="col-4 d-flex justify-content-end align-items-center">
                {% if session.login is not empty %}
                    <h4 class='text-white'><a href='?logout'> {{ session.login }} </a></h4>
                {% endif %}
                {% if session.login is empty %}
                    <a class="btn btn-sm btn-outline-primary" href="register.php">Sign up</a>
                    <a class="btn btn-sm btn-outline-primary" href="login.php">Sign in</a>
                {% endif %}
            </div>
        </div>
    </header>
    <main role="main" class="container justify-content-center">
        <div class="row justify-content-center bg-dark">
            <div class="col-md-8 blog-main w-100">
                {% for post in posts %}
                    <div class='content d-flex col-12 flex-wrap' id="{{ post.id }}">
                        <div class='blog-post col-10'>
                            <h2 class='blog-post-title text-white text-center'>{{ post.title }}</h2>
                            <p class='blog-post-meta'> {{ post.date }} by <a href='?{{ post.user }}'>{{ post.user }}</a>
                            </p>
                            <p class='text-white'>{{ post.text }}</p>
                        </div>
                        {% if post.user == session.login %}
                            <div class='col-2 justify-content-end align-items-center d-flex'>
                                <button class='btn-danger justify-content-end' id="{{ post.id }}" type='submit'>Delete
                                </button>
                            </div>
                        {% endif %}
                        <hr class='col-12'>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
</div>