<form class="form-signin" method="post" action="register.php">
    <h1 class="h3 mb-3 font-weight-normal text-white">Please sign up</h1>
    <label for="inputLogin" class="sr-only">Login</label>
    <input name="login" type="text" id="inputLogin" class="form-control" placeholder="Login" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input name="password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input name="email" type="email" id="inputEmail" class="form-control" placeholder="Email address" required
           autofocus>
    <label for="inputName" class="sr-only">Name</label>
    <input name="name" type="text" id="inputName" class="form-control" placeholder="Name" required autofocus>
    <label for="inputSurname" class="sr-only">Surname</label>
    <input name="surname" type="text" id="inputSurname" class="form-control" placeholder="Surname" required autofocus>
    <label for="inputDate" class="sr-only">Birthday</label>
    <input name="birthday" type="date" id="inputDate" class="form-control" placeholder="Your Birthday" required
           autofocus>

    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
</form>